{% extends 'base.html'%}

{% block content %}

<div class="intro-inner">
    <div class="about-intro" style="background-image:url('/static/img/home.jpg'); background-position: center center;">

        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">

                    <h1 class="intro-title animated fadeInDown"> About Us </h1>


                </div>
            </div>
        </div>


    </div>
    <!--/.about-intro -->

</div>
<!-- /.intro-inner -->

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            
            <div class="container-content">

              <p style="font-size:14px;color:#333;">
              null is India's largest open security community. Registered as a non-profit society in 2010, we have been active since even before that. null is about spreading information security awareness. All our activities such as null Monthly Meets, null Humla, null Bachaav, null Puliya, null Job Portal are for the cause of that..

                We have chapters at the following places:

                Pune
                Banglore
                Delhi
                Mumbai
                Hyderabad
                Chennai
                Chandigarh
                Dharamshala
                Kolkata
                Amsterdam
                Singapore
                
                We regularly hold security awareness camps, monthly meets, workshops, Humla and Puliya sessions at all chapters.

<p class="text-success">

Drop us a mail at (jobs at securenaukri)

For more information about secure naukri please visit

https://www.securenaukri.net
</strong>
</p>
                </p>


                </p>
                
            </div>


        </div>
    </div>
</div>


{%  endblock content %}