{% extends 'base.html'%}

{% block content %}

<br />
<div class="main-container" style="margin-top:5%;">
  <div class="container  border-radius-0">
    <div class="row">
            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category row-featured-company">
                    <div class="col-xl-12  box-title ">
                        <div class="inner"><h2><span>Featured</span>
                            companies <a class="sell-your-item" href="/companies/"> See all companies 
                            <i class="icon-th-list"></i> </a></h2>
                        </div>
                    </div>
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Appsecco Consulting Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Appsecco Consulting Pvt. Ltd.&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Payatu&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Payatu&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Appknox&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem iosum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Varutra Consulting Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/">
                      
                      
                            <h6>All Jobs at<span class="company-name">llorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Verve Square Technologies&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Verve Square Technologies&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Sophos&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Cypherock&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Payatu&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=CyberRoot Risk advisory&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Lucideus&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Paralok Information Security Pvt Ltd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Aujas Networks Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum </span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Ernst &amp; Young LLP&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=iAppSecure Solutions Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Varutra Consulting Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
              
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Indusface Pvt Ltd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">lorem ipsum</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Pragmatic Educational Society&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Pragmatic Ed</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Secfence&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Secfence&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Citrix India Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Citrix India Pvt. Ltd.&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Citrix India Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Citrix India Pvt. Ltd.&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Innobuzz&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Innobuzz&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Wattlecorp Cybersecurity Labs LLP&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Wattlecorp Cybersecurity Labs LLP&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Practical DevSecOps&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Practical DevSecOps&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=First&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;First&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Tactical Cyberange Simulations Pvt Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Tactical Cyberange Simulations Pvt Ltd.&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Ernst &amp; Young LLP India&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Ernst &amp; Young LLP India&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=SwiftSafe&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;SwiftSafe&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=AKS IT Services Pvt. Ltd.&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;AKS IT Services Pvt. Ltd.&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Bobble AI&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Bobble AI&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Security Brigade InfoSec Private Limited&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Security Brigade InfoSec Private Limited&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/jobs/?q=Indmax It Services&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Indmax It Services&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Cyware Labs&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Cyware Labs&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=RedTeam Hacker Academy&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;RedTeam Hacker Academy&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Ernst &amp; Young LLP India&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Ernst &amp; Young LLP India&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Primera Medical Technology /Prime Healthcare&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Primera Medical Technology /Prime Healthcare&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=BizCarta Technologies India Pvt LTd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;BizCarta Technologies India Pvt LTd&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=DXC Technology&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;DXC Technology&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=RedHunt Labs&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;RedHunt Labs&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Truescenda&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Truescenda&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=WeSecureApp&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;WeSecureApp&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Sophos&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Sophos&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=TAC Security&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;TAC Security&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Indusface Pvt Ltd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Indusface Pvt Ltd&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Qseap Infotech Pvt Ltd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Qseap Infotech Pvt Ltd&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  <a href="">
                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="/job_detail/?q=Qseap Infotech Pvt Ltd&job_title=&location=">
                      
                      
                            <h6>All Jobs at<span class="company-name">&nbsp;Qseap Infotech Pvt Ltd&nbsp;</span><span class="text-success">&nbsp;</span></h6></a>
                    </div>
                  </a>
                  
                  
                  
                  
                </div>
            </div>
    </div>
  </div>

  <div class="col-sm-12">
      <center>
        
          <ul class="pagination justify-content-center">
            

            
            
              
                <li class="page-item active"><span class="page-link">1 <span class="sr-only">(current)</span></span></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=2&q=">2</a></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=3&q=">3</a></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=4&q=">4</a></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=5&q=">5</a></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=6&q=">6</a></li>
              
            
              
                <li class="page-item"><a class="page-link" href="?page=7&q=">7</a></li>
              
            
            
              <li class="page-item"><a class="page-link" href="?page=2&q=">&raquo;</a></li>
            
          </ul>
        
      </center>
    </div>
</div>

       {% endblock content %}