{% extends 'base.html'%}

{% block content %}

<div class="intro-inner">
    <div class="about-intro" style="background-image:url('/static/img/background4.jpg'); background-position: center center;">

        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Posting Policy </h1>
                </div>
            </div>
        </div>
    </div>
    <!--/.about-intro -->

</div>
<!-- /.intro-inner -->

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h2 class="text-center title-1"> Posting Policy </h2>
                <hr class="center-block small text-hr">
            </div>
            <div class="container-content">
              <p style="font-size:16px;color:#333;line-height:3em;">
              You understand that the Job Post may not be accepted or may be removed if:
              <br />
              <ul>

  
<!---->

<style>
@media (max-width: 767px) {
    .intro h1 {
        margin-top: 10% !important;
    }
}
</style> 
<li style="font-size:16px;color:#333;line-height:2em;"> 1. It is posted from free email service providers such as gmail, yahoo, hotmail, etc.</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 2. The post contains mobile numbers or other forms of communication to apply for the posting</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 3. The post does not contain the name of the actual organisation where the position is</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 4. The post requires applicants to apply using the organisation’s own portal/website</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 5. It is an illegitimate work opportunity</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 6. It is incorrect or incomplete or misleading</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 7. It is posted by an intermediary instead of the actual organisation where the position is</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 8. If the post is not posted by a person not responsible for the opening</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 9. It is similar to existing post already published and active on null Jobs.</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 10. It is the 5th (or above) Job Post from the organisation in the period of 15 days.</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 11. It is a post for walk-ins.</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 12. You are person or a company that provide recuting as a service or is into manpower consulting</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 13. Posts are valid for 60 days only and are applications will be automatically disabled after that period</li>
<li style="font-size:16px;color:#333;line-height:2em;"> 14. You further assert that you are solely responsible for the content of the Job Post</li>
</ul>  <br /> <br />

<b>IMPORTANT NOTE:</b>

<p>

</div>


</div>
</div>
</div>


<footer class="main-footer">
<div class="footer-content">
<div class="container">
<div class="row">
<div class=" col-xl-4 col-xl-4 col-md-4 col-4">
    

    {% endblock content %}
    