{% extends 'base.html'%}

{% block content %}

    <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                      
                    </div>
                  </div>
        <div class="row">
            <div class="col-md-9 page-content col-thin-right">
                <div class="inner inner-box ads-details-wrapper">
                    <h2> Associate information security engineer</h2>
                    <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> Posted: May 5, 2023, 7:33 a.m. </span> - <span
                            class=""> Full Time </span> - <span class="item-location"><i
                            class="fa fa-map-marker"></i> India remote </span> </span>

                    <div class="Ads-Details ">
                        <div class="row">
                            <div class="ads-details-info jobs-details-info col-md-12">
                               <p><strong>About the job</strong></p>
<p>Sophos is a worldwide leader in next-generation cybersecurity, protecting more than 500,000 organizations and millions of consumers in more than 150 countries from today’s most advanced cyberthreats. Powered by threat intelligence, AI and machine learning from SophosLabs and SophosAI, Sophos delivers a broad portfolio of advanced products and services to secure users, networks and endpoints against ransomware, malware, exploits, phishing and the wide range of other cyberattacks. Sophos provides a single integrated cloud-based management console, Sophos Central – the centerpiece of an adaptive cybersecurity ecosystem that features a centralized data lake that leverages a rich set of open APIs available to customers, partners, developers, and other cybersecurity vendors. Sophos sells its products and services through reseller partners and managed service providers (MSPs) worldwide. Sophos has major hubs around the globe. More information is available at www.sophos.com</p>
<p><strong>Job Summary</strong></p>
<ul>
<li>As a security company Sophos has an internal Cybersecurity team which focuses on protecting Sophos’ own systems, its products and its infrastructure.</li>
<li>This role is for an experienced Security Analyst to join our Cybersecurity “Blue team”.</li>
<li>This a great opportunity to help secure a world-leading security company. As you’d expect you’ll be joining an organization that takes cyber security seriously. You will get the opportunity to work with some world-leading experts from across the company in a fast-paced & exciting environment where security is a priority.</li>
<li>The ideal candidate will have real-world experience of defensive security, digital forensics & incident response and be familiar with using big-data analytics to hunt for threats.</li>
<li>We’ll need you to help us keep on premise and cloud infrastructure secure. This will involve working with leading commercial and open source tools as-well as establishing and maintaining strong links to industry experts and world-class specialist consultants.</li>
<li>You’ll need to be highly motivated, have an innovative mind-set and able to clearly articulate complex technical security issues.</li>
</ul>
<p><strong>What you will do</strong></p>
<ul>
<li>Monitor, triage and analyze security alerts generated from various sources such as SIEM to ensure timely response</li>
<li>Perform root cause analysis and security incident response</li>
<li>Perform endpoint forensics for windows, *nix and Mac environments, including</li>
<li>identification and gathering of key forensic artefacts</li>
<li>Engineer detections based on various log sources, sigma rules and IOCs</li>
<li>Act as a security subject matter expert to support development and operations teams and activities</li>
<li>Design and develop automation (SOAR) to ensure existing SOC processes are automatically escalated and responded to.</li>
<li>Define and document IR documentation and related processes</li>
<li>Assist with code review for deployment automation as well as actual product capabilities</li>
<li>Have and maintain (via conferences, etc) a great knowledge of infosec industry trends and developments and advise on changes to the threat landscape</li>
</ul>
<p><strong>What you will bring</strong></p>
<ul>
<li>2-4 years of experience in DFIR</li>
<li>Understanding and experience of MITRE and DFIR tools</li>
<li>Experience with use case and SIEM content creation</li>
<li>Experience with SIEM solutions - Splunk, Kibana, Logstash, Sumo Logic or similar</li>
<li>Cross-platform knowledge of Enterprise IT infrastructure (AWS, Azure, Networking, Operating Systems, Databases, etc)</li>
<li>Strong interpersonal skills</li>
<li>Experience with cloud security architectures – particularly AWS and the related tooling</li>
<li>Deep knowledge of Operating system internals across Linux & Windows</li>
</ul>
<p><strong>What's Great About Sophos?</strong></p>
<p>Our people – we innovate and create, all of which are accompanied by a great sense of fun and team spirit
Employee-led diversity and inclusion networks that build community and provide education and advocacy
Annual charity and fundraising initiatives and volunteer days for employees to support local communities
Global employee sustainability initiatives to reduce our environmental footprint
Global fitness and trivia competitions to keep our bodies and minds sharp
Global wellbeing days for employees to relax and recharge
Monthly wellbeing webinars and training to support employee health and wellbeing</p>
<p><strong>Our Commitment To You</strong></p>
<p>We’re proud of the diverse and inclusive environment we have at Sophos, and we’re committed to ensuring equality of opportunity. We believe that diversity, combined with excellence, builds a better Sophos, so we encourage applicants that can contribute to the diversity of our team. All applicants will be treated in a fair and equal manner and in accordance with the law regardless of gender, sex, gender reassignment, marital status, race, religion or belief, color, age, military veteran status, disability, pregnancy, maternity or sexual orientation. We want to give you every opportunity to show us your best self, so if there are any adjustments we could make to the recruitment and selection process to support you, please let us know.</p>
<p>Data Protection</p>
<p>If you choose to explore an opportunity, and subsequently share your CV or other personal details with Sophos, these details will be held by Sophos for 12 months in accordance with our Privacy Policy and used by our recruitment team to contact you regarding this or other relevant opportunities at Sophos. If you would like Sophos to delete or update your details at any time, please follow the steps set out in the Privacy Policy describing your individual rights. If you have any questions about Sophos’ data protection practices, please contact dataprotection@sophos.com.</p>
                            </div>
                        </div>

                        <div class="content-footer text-left">
                                
                                    
                                    
                                    <div>
                                      
                                    <button class=" btn btn-primary btn-reset color-base" data-toggle="modal" data-target="#myModal_1070" id="btn-front-page"><strong>Guest apply&nbsp;&nbsp;</strong></button>
                                    
                                    </div>
                                    

                                    

                                
                            
                         <div class="modal" id="myModal_1070" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                              <center>
                                <h5 class="modal-title text-center">Apply to this job as guest</h5>
                              </center>
                              </div>
                              <form  method="POST">
                                  {% csrf_token %}
                                
                                  <div class="form-group" style="text-align:left !important;">
                                     <label for="name" class="bmd-label-floating">Name</label>
                                     <input type="text" name="name" class="form-control" id="name" maxlength="255">
                                  </div>
                                  <div class="form-group" style="text-align:left !important;">
                                   <label for="email" class="bmd-label-floating">Email</label>
                                   <input type="email" class="form-control" name="email" id="email" maxlength="255">
                                   <span class="bmd-help">We'll never share your email with anyone else.</span>
                                 </div>
                                 <div class="form-group" style="text-align:left !important;">
                                    <label for="message" class="bmd-label-floating">Message</label>
                                    <input type="text" class="form-control" name="message" id="message" maxlength="500">
                                 </div>
                                <div style="text-align:left !important;">
                                  <label for="id_resume" class="bmd-label-floating" >Upload Resume:</label>
                                  <input type="file" name="resume" class="form-control" id="id_resume">
                                </div>
                                
                                <br/>
                                <center>
                                  <div class="g-recaptcha" data-sitekey="6LfMsO8SAAAAAM9zXdECMOJwlNZhzeKa-1LLi7as"></div>
                                </center>
                                
                                <br />
                                <button type="submit" class="btn btn-success btn-block">Apply to this job</button>
                                <button type="button"  class="btn btn-block btn-danger" data-dismiss="modal">Cancel</button>
                                </form>
                                
                                <div class="modal-footer">
                                </div>
                            </div>
                          </div>
                        </div>  


                       </div>
                      
                       
                    </div>
                </div>
                <!--/.ads-details-wrapper-->

            </div>
            <!--/.page-content-->

            <div class="col-md-3  page-sidebar-right">
                <aside>
                    <div class="card sidebar-card card-contact-seller">
                        <div class="card-header">Company Information</div>
                        <div class="card-content user-info">
                            <div class="card-body text-center">
                                <div class="seller-info">
                                    <div class="company-logo-thumb">
                                      </div>
                                    <h3 class="no-margin"> Sophos</h3>

                                    <p>Location: <strong>Abingdon OX14 3YP</strong></p>

                                    <p><strong><a href="https://www.sophos.com">https://www.sophos.com</a></strong></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <aside class="panel panel-body panel-details job-summery">
                        <ul>

                            <li><p class=" no-margin "><strong>Views:</strong> 5 </p></li>
                            <li><p class=" no-margin "><strong>Posted On:</strong> May 5, 2023, 7:33 a.m. </p></li>
                            <li><p class=" no-margin "><strong>Company:</strong> Sophos </p>
                            </li>
                            <li>
                                <p class=" no-margin" style="text-transform:capitalize;"><strong>Job Type:</strong> full time</p>
                            </li>
                            
                            <li>
                                <p class="no-margin"><strong>Location:</strong> India remote</p>
                            </li>


                        </ul>
                    </aside>
                    <div class="card sidebar-card">
                        <div class="card-header"><i class="icon-lamp"></i> Successful CV Tips</div>
                        <div class="card-content">
                            <div class="card-body text-left">
                                <ul class="list-check">
                                    <li> Tailor a CV to a specific job</li>
                                    <li> Keep it simple</li>
                                    <li> Include key information - personal details</li>
                                    <li> Showcase achievements</li>
                                </ul>
                              
                            </div>
                        </div>
                    </div>
                    <!--/.categories-list-->
                </aside>
            </div>
            <!--/.page-side-bar-->
        </div>
    </div>
</div>

<!-- /.main-container -->

{% endblock content %}

       