{% extends 'base.html'%}

{% block content %}


      
<!---->

<style>
    @media (max-width: 767px) {
        .intro h1 {
            margin-top: 10% !important;
        }
    }
</style>

<div class="main-container" style="margin-top:5%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <div class="card card-default" style="padding:10px;">
             <div class="card-body">
                
                <h1 style="font-size:26px;text-align:center;">Forgot Password</h1>
                  <br />
                  <form method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="xl0CMqPw50dAhb40HKmiEW01QrsdzxEwXABfFKsdZdLnBDI1H6FcBqGNpfdNJuwS">
                    <p><label for="id_email">Email:</label> <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"></p>
                    <br/>
                    <center>
                      <div class="g-recaptcha" data-sitekey="6LfMsO8SAAAAAM9zXdECMOJwlNZhzeKa-1LLi7as"></div>
                    </center>
                     <br/>
                    <input type="submit" id="register_btn" class="btn btn-primary btn-block" value="Submit">
                    <!--<button type="submit">Submit</button>-->
                  </form>
              </div>
              <!--div style=" clear:both"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  $('input').addClass('form-control');
  $('button').addClass('btn');
</script>

        {% endblock content %}